# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
env/
.venv/
.env/

# Django
*.log
db.sqlite3
media/
staticfiles/
static_root/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
